{% load static %}
{% load i18n %}

{% if post.media_list %}
<div class="pc-gallery pc-gallery-{{ post.media_list|length }}">
    {% for m in post.media_list %}
    {% if m.is_video %}
    <div class="pc-gal-item pc-gal-video">
        <video class="pc-gal-vid" src="{{ m.url }}" muted></video>
    </div>
    {% else %}
    <div class="pc-gal-item">
        <img class="pc-gal-img" src="{{ m.url }}" alt="" loading="lazy" decoding="async">
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
