{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div class="container m-auto">



</div>

<script type="text/javascript">
	
	setupPublicChatWebSocket()

	function setupPublicChatWebSocket(){
		// Correctly decide between ws:// and wss://
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		{% if debug_mode %}
			var ws_path = ws_scheme + '://' + window.location.host + "/public_chat/{{room_id}}/" // development
		{% else %}
			var ws_path = ws_scheme + '://' + window.location.host + ":8001/public_chat/{{room_id}}/" // production
		{% endif %}

		var public_chat_socket = new WebSocket(ws_path)

		// Handle incoming messages
		public_chat_socket.onmessage = function(message) {
			console.log("Got chat websocket message " + message.data)
		}

		public_chat_socket.addEventListener("open", function(e){
			console.log("Public ChatSocket OPEN")
		})

		public_chat_socket.onclose = function(e) {
			console.error('Public ChatSocket CLOSED.')
		}

		public_chat_socket.onOpen = function(e){
			console.log("Public ChatSocket onOpen", e)
		}

		public_chat_socket.onerror = function(e){
	        console.log('Public ChatSocket ERROR: ' + str(e) )
	    }

	    if (public_chat_socket.readyState == WebSocket.OPEN) {
	    	console.log("Public ChatSocket OPEN")
	    } else if (public_chat_socket.readyState == WebSocket.CONNECTING){
	        console.log("Public ChatSocket CONNECTING..")
	    }
	}
</script>

{% endblock content %}




